extends ../header

block content
    h5
        span.badge.badge-orange.text-light Host:
        small &nbsp;#{data.hostName}
    h5
        span.badge.badge-orange.text-light Catalog name:
        small &nbsp;#{data.name}
    h5
        span.badge.badge-orange.text-light Detail url amount:
        small &nbsp;#{data.detailUrls}
    if data.definitionId
        h5
            span.badge.badge-orange.text-light Definition:
            a.text-success(href=`/definition/detail/${data.definitionId}`) &nbsp;Click here to see data definition of this catalog.
    else
        h5
            span.badge.badge-orange.text-light Definition:
            if urlForDefinition.length===0
                span.text-danger &nbsp;This catalog don't have any detail URL
            else
                a.text-danger(href='#', data-toggle='modal', data-target='#choose-url-modal') &nbsp;Add data definition for this catalog.

    //- //Choose URL Modal
    #choose-url-modal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='choose-url-modal', aria-hidden='true')
        .modal-dialog.modal-dialog-centered.modal-lg(role='document')
            .modal-content
                .modal-header
                    h3#exampleModalCenterTitle.modal-title Choose URL
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                        span(aria-hidden='true') ×
                .modal-body
                    p.text-info *Choose URL you want to be pattern.
                    if urlForDefinition.length===0
                        p.text-danger Don't have any URL in this catalog :(
                    else
                        .list-group(style="max-height:70vh; overflow:auto; ")
                            for e in urlForDefinition
                                a.list-group-item.list-group-item-action(href=`/definition/add?url=${e.url}&catalogId=${data._id}&enableScript=0`)=e.url
