extends ../header
block content
    div
        if (pages > 0) 
            ul(class="pagination")
                if current  = 1
                    li(class="disabled")
                        a First
                else
                    li
                        a(href ="/raw-data/1") First
                -var i = (Number(current) > 5 ? Number(current) - 4 : 1)
                if i !== 1  
                    li(class="disabled")
                        a ...
                - for (; i <= (Number(current) + 4) && i <= pages; i++)
                    if i==current
                        li(class="active")
                            a= i
                    else
                        li
                            a(href="/raw-data/" + i)=i
                    if i == Number(current) + 4 && i < pages
                        li(class = "disabled")
                            a ...
                if current == pages
                    li(class = "disabled")
                        a Last
                else
                    li
                        a(href="/raw-data/" + pages) Last
    .raw-container
        .raw-right
            table#lazy-container
                tbody
                    tr
                        th.table-item Title
                        th.table-item Price
                        th.table-item Acreage
                        th.table-item Address
                        th.table-item Orders
                        each rawdata,index in rawdatas
                            tr.lazy
                                td #{rawdata.title[0]}
                                td #{rawdata.price[0]}
                                td #{rawdata.acreage[0]}
                                td #{rawdata.address[0]}
                                td
                                    .menu1.ct-menu
                                        .ctmenu-item
                                            i.material-icons(style='color:white')
                                                | expand_more
                                        .ctmenu-sub
                                            each data in rawdata.others
                                                .order-item
                                                    .order-item-title.item-border #{data.name}
                                                    .order-item-title #{data.data[0]}
    script.
        jQuery.fn.extend({
        setMenu: function() {
        return this.each(function() {
        var containermenu = $(this);
        var itemmenu = containermenu.find(".ctmenu-item");
        itemmenu.click(function() {
        var submenuitem = containermenu.find(".ctmenu-sub");
        submenuitem.slideToggle(500);
        });
        $(document).click(function(e) {
        if (
        !containermenu.is(e.target) &&
        containermenu.has(e.target).length === 0
        ) {
        var isopened = containermenu.find(".ctmenu-sub").css("display");
        if (isopened == "block") {
        containermenu.find(".ctmenu-sub").slideToggle(500);
        }
        }
        });
        });
        }
        });
        $(".ct-menu").setMenu();
