extends ../header
block content
    table#datatable.table.table-striped.table-bordered(style='width:70%%')
            thead
                tr
                th Title
                th Price
                th Acreage
                th Address
                th Orders
            tbody
                each rawData,index in rawDatas
                    tr
                        td #{rawData.title[0]}
                        td #{rawData.price[0]}
                        td #{rawData.acreage[0]}
                        td #{rawData.address[0]}
                        td
                            .menu1.ct-menu
                                .ctmenu-item
                                    i.material-icons(style='color:white')
                                        | expand_more
                                .ctmenu-sub
                                    each data in rawData.others
                                        .order-item
                                            .order-item-title.item-border #{data.name}
                                            .order-item-title #{data.data[0]}
            tfoot
                tr
                th Title
                th Price
                th Acreage
                th Address
                th Orders
            script(src="https://code.jquery.com/jquery-3.3.1.js")
            script(src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js")
            script(src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js")
            script.
                $(document).ready(function() {
                $('#datatable').DataTable();
                });
            script.
                jQuery.fn.extend({
                setMenu: function() {
                return this.each(function() {
                var containermenu = $(this);
                var itemmenu = containermenu.find(".ctmenu-item");
                itemmenu.click(function() {
                var submenuitem = containermenu.find(".ctmenu-sub");
                submenuitem.slideToggle(500);
                });
                $(document).click(function(e) {
                if (
                !containermenu.is(e.target) &&
                containermenu.has(e.target).length === 0
                ) {
                var isopened = containermenu.find(".ctmenu-sub").css("display");
                if (isopened == "block") {
                containermenu.find(".ctmenu-sub").slideToggle(500);
                }
                }
                });
                });
                }
                });
                $(".ct-menu").setMenu();
