extends ../header

block content
    script(src='/javascripts/def-main.js')

    if error
        p=JSON.stringify(error)
    else
        .row.target-info.mb-2
            .col-8
                h6 Hostname:&nbsp;
                    span#hostname.badge.badge-primary=hostname
                h6 Filename:&nbsp;
                    span#filename.badge.badge-primary=fileName
                h6 Catalog:&nbsp;
                    span#catalogName.badge.badge-primary=catalogName
                    span#catalogId.d-none=catalogId
            .col.text-right
                button#reset-table-data.btn.btn-danger.mr-2 Reset
                button#submit-table-data.btn.btn-primary Submit
        .row.main-content
            #left-content.col-7.mr-2
                img#loading-progress(src="/images/svg/puff.svg" style="position:absolute; background-color: #343a40;")
                iframe#live-iframe(src=`/api/get-html/${hostname}/${fileName}`)
            #right-content.col.card.p-3
                #define-data.card-body
                    #table-data-alert.alert.alert-danger.d-none(role='alert')
                    table#table-data.table.table-hover
                        thead
                            tr
                                th(scope='col') Data
                                th(scope='col') Definition
                                th(scope='col') Action
                        tbody

