extends ../header

block content
    .row
        .col
            h5
                span.badge.badge-primary Hostname:
                small &nbsp;#{host.name}
            h5
                span.badge.badge-primary Catalog name:
                small &nbsp;#{catalog.name}
            h5
                span.badge.badge-primary Target URL:
                small &nbsp;#{definition.targetUrl.url}
        .col
            h5
                span.badge.badge-primary Create:
                small &nbsp;#{definition.cTime}
            h5
                span.badge.badge-primary Last update:
                small &nbsp;#{definition.mTime}
            h5
                span.badge.badge-primary Action
                span &nbsp;
                    a.small.text-primary(href='#', data-toggle='modal', data-target='#choose-url-modal') Edit
                span &nbsp;
                    a.small.text-danger(href=`/definition/delete/${definition._id}`) Delete

    .container-fluid.pt-2
        #accordion
            .card
                button#title-xpath.btn.btn-block.btn-info(data-toggle='collapse', data-target='#collapse-title-xpath', aria-expanded='true', aria-controls='collapse-title-xpath') Title xPaths
                #collapse-title-xpath.collapse(aria-labelledby='title-xpath', data-parent='#accordion')
                    .card-body
                        .list-group
                            for e in definition.title
                                .list-group-item.list-group-item-info.list-group-item-action=e
            .card
                button#price-xpath.btn.btn-block.btn-info(data-toggle='collapse', data-target='#collapse-price-xpath', aria-expanded='true', aria-controls='collapse-price-xpath') Price xPaths
                #collapse-price-xpath.collapse(aria-labelledby='price-xpath', data-parent='#accordion')
                    .card-body
                        .list-group
                            for e in definition.price
                                .list-group-item.list-group-item-info.list-group-item-action=e
            .card
                button#acreage-xpath.btn.btn-block.btn-info(data-toggle='collapse', data-target='#collapse-acreage-xpath', aria-expanded='true', aria-controls='collapse-acreage-xpath') Acreage xPaths
                #collapse-acreage-xpath.collapse(aria-labelledby='acreage-xpath', data-parent='#accordion')
                    .card-body
                        .list-group
                            for e in definition.acreage
                                .list-group-item.list-group-item-info.list-group-item-action=e
            .card
                button#address-xpath.btn.btn-block.btn-info(data-toggle='collapse', data-target='#collapse-address-xpath', aria-expanded='true', aria-controls='collapse-address-xpath') Address xPaths
                #collapse-address-xpath.collapse(aria-labelledby='address-xpath', data-parent='#accordion')
                    .card-body
                        .list-group
                            for e in definition.address
                                .list-group-item.list-group-item-info.list-group-item-action=e
            .card
                button#other-xpath.btn.btn-block.btn-info(data-toggle='collapse', data-target='#collapse-other-xpath', aria-expanded='true', aria-controls='collapse-other-xpath') Other xPaths
                #collapse-other-xpath.collapse(aria-labelledby='other-xpath', data-parent='#accordion')
                    .card-body
                        .row
                            .col-4
                                #list-tab.list-group(role='tablist')
                                    for e,index in definition.others
                                        a.list-group-item.list-group-item-action.list-group-item-info(id=`other-${index}` data-toggle='list', href=`#list-other-${index}`, role='tab', aria-controls=`other-${index}`)=e.name
                            .col-8
                                #nav-tabContent.tab-content
                                    for e,index in definition.others
                                        .tab-pane.fade.list-group(id=`list-other-${index}` role='tabpanel', aria-labelledby=`list-${index}-list`)
                                            if e.xpath.length > 0
                                                for xpath in e.xpath
                                                    p.list-group-item.list-group-item-action.list-group-item-info=xpath
                                            else
                                                p Nothing here...


    //Choose URL Modal
    #choose-url-modal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='choose-url-modal', aria-hidden='true')
        .modal-dialog.modal-dialog-centered.modal-lg(role='document')
            .modal-content
                .modal-header
                    h3#exampleModalCenterTitle.modal-title Choose URL
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                        span(aria-hidden='true') ×
                .modal-body
                    p.text-info *Choose URL you want to be pattern.
                    if urlForDefinition.length===0
                        p.text-danger Don't have any URL in this catalog :(
                    else
                        .list-group(style="max-height:70vh; overflow:auto; ")
                            for e in urlForDefinition
                                a.list-group-item.list-group-item-action(href=`/definition/update?url=${e.url}&catalogId=${catalog._id}&enableScript=0&definitionId=${definition._id}`)=e.url

