extends ../header

block content
    h5.float-right
        span.badge.badge-primary Last update:
        | &nbsp;
        span=definition.lastUpdate_formatted
    h5
        span.badge.badge-primary Hostname:
        | &nbsp;
        span=hostname
    h5
        span.badge.badge-primary Catalog name:
        |&nbsp;
        span=definition.catalogName

    .container-fluid.pt-2
        #accordion
            .card
                button#title-xpath.btn.btn-block.btn-info(data-toggle='collapse', data-target='#collapse-title-xpath', aria-expanded='true', aria-controls='collapse-title-xpath') Title xPaths
                #collapse-title-xpath.collapse(aria-labelledby='title-xpath', data-parent='#accordion')
                    .card-body
                        .list-group
                            for e in definition.titlexPath
                                .list-group-item.list-group-item-info.list-group-item-action=e
            .card
                button#price-xpath.btn.btn-block.btn-info(data-toggle='collapse', data-target='#collapse-price-xpath', aria-expanded='true', aria-controls='collapse-price-xpath') Price xPaths
                #collapse-price-xpath.collapse(aria-labelledby='price-xpath', data-parent='#accordion')
                    .card-body
                        .list-group
                            for e in definition.pricexPath
                                .list-group-item.list-group-item-info.list-group-item-action=e
            .card
                button#acreage-xpath.btn.btn-block.btn-info(data-toggle='collapse', data-target='#collapse-acreage-xpath', aria-expanded='true', aria-controls='collapse-acreage-xpath') Acreage xPaths
                #collapse-acreage-xpath.collapse(aria-labelledby='acreage-xpath', data-parent='#accordion')
                    .card-body
                        .list-group
                            for e in definition.acreagexPath
                                .list-group-item.list-group-item-info.list-group-item-action=e
            .card
                button#address-xpath.btn.btn-block.btn-info(data-toggle='collapse', data-target='#collapse-address-xpath', aria-expanded='true', aria-controls='collapse-address-xpath') Address xPaths
                #collapse-address-xpath.collapse(aria-labelledby='address-xpath', data-parent='#accordion')
                    .card-body
                        .list-group
                            for e in definition.addressxPath
                                .list-group-item.list-group-item-info.list-group-item-action=e
            .card
                button#other-xpath.btn.btn-block.btn-info(data-toggle='collapse', data-target='#collapse-other-xpath', aria-expanded='true', aria-controls='collapse-other-xpath') Other xPaths
                #collapse-other-xpath.collapse(aria-labelledby='other-xpath', data-parent='#accordion')
                    .card-body
                        .row
                            .col-4
                                #list-tab.list-group(role='tablist')
                                    for e,index in definition.other
                                        a.list-group-item.list-group-item-action.list-group-item-info(id=`other-${index}` data-toggle='list', href=`#list-other-${index}`, role='tab', aria-controls=`other-${index}`)=e.name
                            .col-8
                                #nav-tabContent.tab-content
                                    for e,index in definition.other
                                        .tab-pane.fade.list-group(id=`list-other-${index}` role='tabpanel', aria-labelledby=`list-${index}-list`)
                                            for xpath in e.xPath
                                                p.list-group-item.list-group-item-action.list-group-item-info=xpath




